Flask==3.0.0
Flask-Assets==2.1.0
Flask-Compress==1.17
Flask-Limiter==3.11.0
RapidFuzz==3.13.0
attrs==23.2.0
click==8.1.8
flasgger==0.9.7.1
flask-talisman==1.1.0
gunicorn==23.0.0
openai==1.82.1
pandas==2.1.4
pytest==7.4.3
pytz==2023.4
requests==2.31.0
